//COLORS
$white-clr: #ffffff;
$white-transparent-clr: #f1f1f1;
$black-clr: #000;
$lightGray-clr: #818687;
$gray-clr: #8a8787;
$darkBlue-clr: #243043;
//FONT_SIZE
$font-size-24px: 24px;
$font-size-20px: 20px;
$font-size-12px: 12px;
$font-size-10px: 10px;
